:root {
    --theme-color-scheme: light;
    --theme-body-bg: #f5f5f5;
    --theme-siderbar-bg: #f9f9f9;
    --theme-header-bg: #fff;
    --theme-menu-bg: #f1eeff;
    --theme-menu-hover-bg: rgba(241, 238, 255, 0.5);
    --theme-site-bg: #fff;
    --theme-form-bg: #fff;
    --theme-form-item-bg: #f5f5f5;
    --theme-primary-color: #333;
    --theme-menu-color: #555;
    --theme-title-color: #666;
    --theme-site-color: #a0aec0;

}

#app[data-theme=dark] {
    --theme-color-scheme: light;
    --theme-body-bg: #000;
    --theme-siderbar-bg: #2c2e2f;
    --theme-header-bg: #2c2e2f;
    --theme-menu-bg: rgba(241, 238, 255, 0.4);
    --theme-menu-hover-bg: rgba(241, 238, 255, 0.4);
    --theme-site-bg: #2c2e2f;
    --theme-form-bg: #2c2e2f;
    --theme-form-item-bg: #363738;
    --theme-primary-color: #ddd;
    --theme-menu-color: #d6d9df;
    --theme-title-color: #cccc;
    --theme-sider-color: #6c757d;
}