@light-text: #333;
@dark-text: #fff;
@light-body-bg: #f5f5f5;
@dark-body-bg: #1a1a1a;
@light-siderbar-bg: #f9f9f9;
@dark-siderbar-bg: #2c2c2c;
@light-header-bg: #f9f9f9;
@dark-header-bg: #2c2c2c;

.themeChange(@style) {
    background-color: @style;
}

.dark-mode {
    .themeChange(@dark-body-bg);

    #siderbar {
        background-color: @dark-siderbar-bg;
        .siderbar-menu .menu-item.active{
            
        }
    }

    #header {
        background-color: @dark-header-bg;

    }
}




.light-mode {
    .themeChange(@light-body-bg);

    #siderbar {
        background-color: @light-siderbar-bg;
    }

    #header {
        background-color: @light-header-bg;
    }
}